<html>
  <head>
    <title>Request for leave!!</title>
  </head>
  <body>       
    
    Requested By: <input type=text size=20 value="ABC Employee"> <br>
    
    <h3> Your Leave Details :</h3>
    <table>      
      <tr> 
        <td>Total Alloted : </td> <td><input type=text size=20 value="18"></td>
      </tr>
      <tr>
        <td>Total Paid Leaves Taken : </td> <td><input type=text size=20 value="8"></td>
      </tr>   
      <tr>
        <td>Total Unpaid Leaves : </td> <td><input type=text size=20 value="10"></td>
      </tr>
    </table>     
    
    <h2>&emsp;&emsp;&emsp;&emsp;<u>Leave Request Form</u></h2>
    From Date&nbsp;&nbsp;: <input type=text size=20 value="25/10/2012">  &emsp;&emsp; To Date: <input type=text size=20 value="30/10/2012">
    <br><br>
    No. of Days: <input type=text size=20 value="6">
    <br><br>
    Description: <textarea name="Name" rows="8" cols="40"></textarea>
    <br><br>
    <input type=submit value="Save"> <input type=submit value="Send For Approval"> <input type=button value="Clear">         
            
  </body>
</html>

