<center><h1>Welcome User!!</h1></center>

<%= link_to 'Users', 'users/' %><br>
<%= link_to 'Show Leaves', 'leaves/' %> <br>
<%= link_to 'Request Leave', { :controller => 'users', :action => 'request_leave', :id => 1 } %>
